# Avoiding accidental upload of the Sketch and Figma design files
*.sketch
*.fig

# Avoiding accidental XD upload if converting the design file
*.xd

# Avoiding project being littered with annoying .DS_Store files!
.DS_Store
.prettierignore